@model List<BonaStoco.AP1.Web.Report.TenantTerminalDailySales>
@{
    DateTime today = DateTime.Today;
}
<table width="95%" height="65%" border="0" align="right" cellpadding="0" cellspacing="0">
    <tr>
        <td width="128px" height="39">
            <div class="ActivePeriode">Hari
            </div>
        </td>
        <td width="128px">
            <div id="Periode">@Ajax.ActionLink("Bulan", "RekapTenanBulanan", "BandaraReportSale", new { terminalId = ViewBag.TerminalId, terminalName = ViewBag.TerminalName },
                    new AjaxOptions {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "results",
                        LoadingElementId = "dialog-overlay"
                    })
            </div>
        </td>
        <td width="128px">
            <div id="Periode">@Ajax.ActionLink("Tahun", "RekapTenanTahunan", "BandaraReportSale", new { terminalId = ViewBag.TerminalId, terminalName = ViewBag.TerminalName },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "results",
                        LoadingElementId = "dialog-overlay"
                    })
            </div>
        </td >
        <td width="100%">
            <div class="NamaBandara">@ViewBag.TerminalName</div>
        </td>
    </tr>
    <tr>
    <td height="494" colspan="4" align="right" class="top" id="results">
            <table width="100%" height="100%" border="0" align="right" cellpadding="0" cellspacing="0">
					    <tr>
					        <td height="39" class="left" id="HeaderjumlahTransaksi">Total penjualan @ViewBag.Waktu, @today.Date.ToString("dd MMMM yyyy") di @ViewBag.TerminalName</td>
					    </tr>
					    <tr>
					        <td height="21" class="center" id="IsijumlahTransaksi">Rp. @ViewBag.TotalSalePerDay</td>
					    </tr>
					    <tr>
					        <td class="top"><br />
						         <table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF">
                                    <tr>
                                        <td  colspan="2" id="HeaderjumlahTransaksi">
                                            Detail Penjualan di @ViewBag.TerminalName @ViewBag.Waktu, @today.Date.ToString("dd MMMM yyyy")
                                        </td>
                                    </tr>
							        <tr >
							            <td width="50%"  class="left" id="BodyLeftjumlahTransaksi">Tenant</td>
							            <td width="50%" class="right" id="BodyRightjumlahTransaksi">Jumlah Penjualan</td>
							        </tr>
                                    @foreach (var item in Model)
                                    {
							            <tr>
								        <td class="left" id="BodyLeftjumlahTransaksi">@item.TenanName</td>
								        <td class="right" id="BodyRightjumlahTransaksi">Rp. @item.TotalSalePerTenan.ToString("N")</td>
							            </tr>
                                    }
						        </table>
					        </td>
          			    </tr>
            </table>
    </td>
    </tr>
</table>
