@{
    ViewBag.Title = "Laporan Detail Penjualan";
}
@section styles
{
    <link href="@Url.Content("~/Content/ReportSale/DetailPenjualan.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Home/ModalDialog.css")" rel="stylesheet" type="text/css" />
}
@section scripts
{
    @Content.Script("AdvancedSearchTenan.js", @Url)
    @Content.Script("ReportSale/DetailPenjualanTenan.js", @Url)
    @Content.Script("ReportSale/LaporanSummaryTenan.js", @Url)
    @Content.Script("ReportSale/SummaryPerKasirTenan.js", @Url)
    @Content.Script("ReportSale/RingkasanPerHariTenan.js", @Url)
    @Content.Script("stringformat.js", @Url)
    @Content.Script("PrintDocument.js", @Url)
    @Content.Script("jquery.quicksearch.js", @Url)
    @Content.Script("sortable.js", @Url)

    <script type="text/javascript">
        var TenanName;
        $(document).ready(function () {
            CreateTabMenu();
        });

        function CreateTabMenu() {
            $("section#main").append("<div id='tabContainer'>" +
                    "<div class='tabs'>" +
                    "<ul><li id='tabHeader_1'>Detail Penjualan</li>" +
                    "<li id='tabHeader_2'>Ringkasan Penjualan</li>" +
                    "<li id='tabHeader_3'>Ringkasan Per Kasir</li>" +
                    "<li id='tabHeader_4'>Ringkasan Per Hari</li></ul>" +
                    "</div><div class='tabscontent'>" +
                    "</div></div>");
            $("#tabHeader_1").click(CreateDivDetailPenjualan);
            InitTab();
        }

        function InitTab() {
            var container = document.getElementById("tabContainer");
            var navitem = container.querySelector(".tabs ul li");
            var ident = navitem.id.split("_")[1];
            navitem.parentNode.setAttribute("data-current", ident);
            navitem.setAttribute("class", "tabActiveHeader");
            CreateDivDetailPenjualan();
            var tabs = container.querySelectorAll(".tabs ul li");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].onclick = DisplayPage;
            }
        }

        function DisplayPage() {
            var current = this.parentNode.getAttribute("data-current");
            document.getElementById("tabHeader_" + current).removeAttribute("class");
            var ident = this.id.split("_")[1];
            if (ident == 1) {
                this.setAttribute("class", "tabActiveHeader");
                CreateDivDetailPenjualan();
                $("#DivSummary").hide();
                $("#DivSummaryPerkasir").hide();
                $("#DivSummaryPerHariTenan").hide();
                this.parentNode.setAttribute("data-current", ident);
            }
            else if (ident == 2) {
                this.setAttribute("class", "tabActiveHeader");
                CreateDivSummary();
                $("#DivDetailPenjualan").hide();
                $("#DivSummaryPerkasir").hide();
                $("#DivSummaryPerHariTenan").hide();
                this.parentNode.setAttribute("data-current", ident);
            }
            else if (ident == 3) {
                this.setAttribute("class", "tabActiveHeader");
                CreateDivSummaryPerKasir();
                $("#DivDetailPenjualan").hide();
                $("#DivSummary").hide();
                $("#DivSummaryPerHariTenan").hide();
                
                this.parentNode.setAttribute("data-current", ident);
            }
            else if (ident == 4) {
                this.setAttribute("class", "tabActiveHeader");
                $("#DivDetailPenjualan").hide();
                $("#DivSummaryPerkasir").hide();
                $("#DivSummary").hide();

                CreateDivSummaryPerHariTenan();

                this.parentNode.setAttribute("data-current", ident);
            }
        }

</script>

