@model BonaStoco.AP1.Web.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

@section styles
{
    <link href="@Url.Content("~/Content/ChangePassword.css")" rel="stylesheet" type="text/css" />
}

@section scripts
{
    @Content.Script("jquery.validate.min.js", @Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", @Url)
}

@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
<p>
</p>
<fieldset>
<legend>Change Password</legend><br />

<table id="UbahPassword" width="100%" border="0">
      <tr>
        <td width="20%">User Name</td>
        <td>
            <label>@User.Identity.Name</label>
        </td>
      </tr>
      <tr>
        <td width="20%">@Html.LabelFor(m => m.OldPassword)</td>
        <td>
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </td>
      </tr>
      <tr>
        <td width="20%">@Html.LabelFor(m => m.NewPassword)</td>
        <td>
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </td>
      </tr>
      <tr>
        <td width="20%">@Html.LabelFor(m => m.ConfirmPassword)</td>
        <td>
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </td>
      </tr>
      <tr>
        <td colspan="3">
            <input type="submit" value="Change"/>
        </td>
      </tr>
    </table>
</fieldset>
}