@using BonaStoco.AP1.Web.Models
@model GRNModel
@*<h3>Barang sudah di retur.  @Html.ActionLink("Back", "Index")</h3>*@

@section styles
{
    <link href="@Url.Content("~/Content/PenerimaanBarang(View).css")" rel="stylesheet" type="text/css" />
}
@{
    IList<GRNItemModel> items = ViewBag.GRNItems;
    int no = 1;
}
@section scripts
{
    @Content.Script("PrintDocument.js", @Url)
    <script type="text/javascript">
         $("#btnprint").click(function () {
             var print = $("#headerReportPenerimaanBarang");
             print.jqprint();
         });
  
      
    </script>
}
<button id='btnprint'>Cetak Laporan</button>
<br />
<br />
<fieldset id="formatPenerimaanBarang">
    <table id="headerReportPenerimaanBarang" width="100%" border="0" cellpadding="0" cellspacing="0">
           <tr>
          <td colspan="6" class="left"><img src="../../Content/images/Angkasa.png" width="30%"/></td>
          <td class="right">
          <span style="font-size:34px; color:#BBBBBB; text-shadow: 2px 2px 2px #000;"><i>e</i></span>
          <span style="font-size:22px; color:#BBBBBB; text-shadow: 2px 2px 2px #000; padding-right:10px;">-POS</span></td>
          </tr>
          <tr>
            <td colspan="7" id="TitleHeader">RETUR BARANG</td>
          </tr>
          <tr>
            <td height="20" colspan="7"></td>
          </tr>
          <tr>
            <td width="17%" class="left">Tenan</td>
            <td width="1%" class="center">:</td>
            <td width="27%" class="left">@Model.NamaTenan</td>
            <td width="5%" rowspan="4"></td>
            <td width="19%" class="left">No. Dokumen</td>
            <td width="1%" class="center">:</td>
            <td width="25%" class="left">@Model.Referensi</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="left">Jln. potong lembu no 00</td>
            <td class="left">Tgl Dokumen</td>
            <td class="center">:</td>
            <td class="left">@Model.TanggalTransaksi.ToString("dd-MM-yyyy")</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="left">batam, telp 0778-00000</td>
            <td class="left">Nama Pengirim</td>
            <td class="center">:</td>
            <td class="left">@Model.NamaPengirim</td>
          </tr>
          <tr>
            <td class="left">Kode Transaksi</td>
            <td class="center">:</td>
            <td class="left">@Model.KodeTransaksi</td>
            <td class="left">User</td>
            <td class="center">:</td>
            <td class="left">@User.Identity.Name</td>
          </tr>
          <tr>
            <td width="15%" class="left"></td>
            <td width="1%" class="center"></td>
            <td width="27%" class="left"></td>
            <td width="7%" rowspan="4"></td>
            <td width="19%" class="left">Keterangan</td>
            <td width="1%" class="center">:</td>
            <td width="25%" class="left">@Model.Keterangan</td>
          </tr>
          <tr>
            <td height="38"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
  
          <tr>
            <td colspan="7">
                <div id="divItem">
                    <table id="tblitem" width="100%%" border="1" cellpadding="0" cellspacing="0">
                      <tr id="HeaderTableItem">
                        <th width="4%" class="center">No</th>
                        <th width="20%" class="center">Kode Barang</th>
                        <th width="20%" class="center">Barcode</th>
                        <th width="40%" class="center">Nama Barang</th>
                        <th width="16%" colspan="2" class="center">Jumlah</th>
                       </tr>
                             @foreach (GRNItemModel item in items)
                             { 
                                  <tr>
                                    <td class="center">@no</td>
                                    <td class="center">@item.Code</td>
                                    <td class="center">@item.Barcode</td>
                                    <td class="center">@item.NamaBarang</td>
                                    <td width="8%" class="right">@item.Qty</td>
                                    <td width="8%" class="left">@item.Unit</td>
                                  </tr>
                                 no++;    
                             }
                    </table>
                </div>
            <br />
            </td>
          </tr>
          <tr>
            <td colspan="7">
            <table id="tblitem" width="100%%" border="1" cellpadding="0" cellspacing="0">
              <tr>
                <td width="33%" class="left">Tenant</td>
                <td width="34%" class="left">Courier</td>
                <td width="33%" class="left">Checker</td>
              </tr>
              <tr>
                <td width="33%" height="84">&nbsp;</td>
                <td width="34%">&nbsp;</td>
                <td width="33%">&nbsp;</td>
              </tr>
            </table>
            </td>
          </tr>
    </table>
</fieldset>
