@using BonaStoco.AP1.PengirimanBarang.Models
@model IList<GRNItem>

    <table width="100%">
    <thead>
        <tr>
            <th>Barcode</th>
            <th>Nama Barang</th>
            <th>Qty</th>
            <th>Unit</th>
            <th>Harga</th>
            <th>Jumlah</th>
        </tr>
    </thead>
    <tbody id="searchResults">
        @if (Model != null && Model.Count > 0)
        {
            foreach (GRNItem item in Model)
            {
                <tr>

                    <td>@item.Barcode</td>
                    <td>@item.Nama</td>
                    <td>@item.Qty</td>
                    <td>@item.UnitName</td>
                    <td>@item.Harga.ToString("N0")</td>
                    <td>@item.Jumlah.ToString("N0")</td>
                </tr>
            }
        }
    </tbody>
    </table>