@using BonaStoco.AP1.Web.Models
@model BonaStoco.AP1.Web.Report.FakturPajak

@{
    ViewBag.Title = "Show Dialog Report";
    Layout = APRoles.MapLayout(ViewBag.HomePage);
}

@section styles
{
    <link href="@Url.Content("~/Content/AdvancedSearch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-1.8.14.custom.css")" rel="stylesheet" type="text/css" />
    <style>
    Table#line 
    {
    border: none 0px #fff;
    }
    
    Table#line tr
    {
    border: none 0px #fff;
    }
    
    Table#line td
    {
    border: none 0px #fff;
    }
    </style>

}
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $("#Set").hide();
        $("#AdvancedSearch").dialog({
            autoOpen: false,
            width: 900,
            height: 450,
            show: "Fade",
            hide: "explode"
        });
        $("#AdvSearch").click(function () {
            document.getElementById("AdvancedSearch").focus();
            document.getElementById("AdvancedSearch").style.display = "inline";
            $("#AdvancedSearch").dialog("open");
            return false;
        });
        $("#Submit").click(function () {
            var bulan = $("#bulan").val();
            var tahun = $("#tahun").val();
            var noTenan = $("#noTenan").val();
            var ccy = $("#ccy").val();
            $.ajax({
                type: "GET",
                url: "/FakturPajak/FindReportPajak",
                dataType: "json",
                data: { 'noTenan': noTenan, 'tahun': tahun, 'bulan': bulan },
                success: FindFakturSuccess
            });
            $("#tenant1").val(noTenan);
            $("#tahun1").val(tahun);
            $("#bulan1").val(bulan);
            $("#ccyCode").val(ccy);
        });


        function FindFakturSuccess(data) {
            if (data != null) {
                $("#DivFakturPajak").remove();
                $("#NoFakturPajak").val(data.NoFakturPajak);
                $("#Set").show();
            }
            else
                alert("Data Tidak Di Temukan");
        }
        $("#id_search").quicksearch("table#tenans tbody tr",
            {
                noResults: "#noresults",
                stripeRows: ["odd", "even"],
                loader: "img.loading"
            });
    });

    function CloseDialog(tenanId, tenanName) {
        document.getElementById("noTenan").value = tenanId;
        document.getElementById("namaTenan").innerHTML = tenanName;
        $("#AdvancedSearch").dialog("close");
    }

    function FindTenantNameByTenanId(id) {
        $.ajax({
            type: "GET",
            url: "/FakturPajak/FindTenantNameByTenanId/" + id,
            dataType: "json",
            success: ShowStateTenantName
        });

        function ShowStateTenantName(data) {
            document.getElementById("tenantName").innerHTML = data;
        }
    }
</script>
}
<h2>Faktur Pajak</h2>
<div id="DivFakturPajak">
    <table id ="line" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12%">Tahun</td>
        <td width="1%">:</td>
        <td width="13%">
          @{
            int currentYear = DateTime.Now.Year;
            <input name="tahun" type="text" id="tahun" value="@currentYear"/>
           }
        </td>
        <td width="74%">&nbsp;</td>
      </tr>
      <tr>
        <td>Bulan</td>
        <td>:</td>
        <td>
        <select name="bulan" id="bulan">
       @{
      
        String[] month = new String[12] { "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" };
        int currentMonth = DateTime.Now.Month;
        int y = 1;
        string t;
        foreach (var item in month)
        {
            if (y == currentMonth)
            {
                t = "selected";
            }
            else
            {
                t = "";
            }
                  <option value=@y @t>@item</option>
       
                                 y++;
        }
        }
    
           </select>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>No Tenan </td>
        <td>:</td>
        <td>
            <input name="noTenan" type="text" id="noTenan"/> 
        </td>
        <td>
            <button id="AdvSearch">Search</button>
            <label><span id = "namaTenan"></span></label>
        </td>
      </tr>
@*      <tr>
      <td>Mata Uang</td>
      <td>:</td>
      <td>
      <select name="ccyCode" id="ccy">
       @{
      
        String[] ccy = new String[2] { "IDR", "USD"};
        int i = 1;
        foreach (var item in ccy)
        {
            <option value = @item>@item</option>
            i++;
        }
        }
        </select>
      </td>
      <td></td>
      </tr>*@
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button id="Submit">Submit</button>
        </td>
        <td>&nbsp;</td>
      </tr>
</table>
</div>

<div id="Set">
    @using (Html.BeginForm("ReportFakturPajak", "FakturPajak"))
    {
        <table>
        <tr>
            <td>No Faktur Pajak</td>
            <td> 
                <input type="text" id="NoFakturPajak" name="noFakturPajak"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" id="tenant1" name="noTenan"/>
                <input type="hidden" id="bulan1" name="bulan"/>
                <input type="hidden" id="tahun1" name="tahun"/>
                <input type="hidden" id="ccyCode" name="ccyCode"/>
            </td>
            <td>
                <button>Preview</button>
            </td>
        </tr>
    </table>
    }
</div>

<div id="AdvancedSearch" title="Advanced Search" style="display:none;">
        <br />
	    <input type="text" name="search" value="" id="id_search" placeholder="Search"/> 
        <img class="loading" src="@Url.Content("~/Content/images/loader.gif")"/>
    <table id="tenans" width="100%">
        <thead>
            <tr >
                <th>Kode</th>
                <th>Nama</th>
                <th>Alamat</th>
            </tr>
        </thead>
        <tbody>
    	    <tr id="noresults">
		        <td colspan="6">No Results</td>
	        </tr>
            @foreach (var tenan in @ViewBag.Tenants)
            {
                <tr id="tenan" onclick="CloseDialog('@tenan.TenanId','@tenan.TenanName')">
                    <td width="10%">@tenan.TenanId</td>
                    <td width="35%">@tenan.TenanName</td>
                    <td width="55%">@tenan.Alamat</td>
                </tr>
            }
        </tbody>
    </table>
</div>
