@model List<BonaStoco.AP1.Web.Report.TenantSubterminalYearlySales>
@{
    DateTime today = DateTime.Today;
}
@section styles{
    <link href="@Url.Content("~/Content/LaporanPenjualanByTenant.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/RekapPerTenant.css")" rel="stylesheet" type="text/css" />
}
@section scripts{   
     @Content.Script("RekapPerTenant.js", @Url)    
      @Content.Script("PrintDocument.js", @Url) 
   }
<table id="detail-bulanan" width="95%" height="65%" border="0" align="right" cellpadding="0" cellspacing="0">
    <tr>
        <td width="128px" height="39">
            <div id="Periode">
            @Html.ActionLink("Hari", "RekapTenanHarian", "SubTerminalReportSale", new { locationId = ViewBag.LocationId, subTerminalId = ViewBag.TerminalId, subTerminalName = ViewBag.subTerminalName },null)
            </div>
        </td>
        <td width="128px">
            <div id="Periode">
            @Html.ActionLink("Bulan", "RekapTenanBulanan", "SubTerminalReportSale", new { locationId = ViewBag.LocationId, subTerminalId = ViewBag.TerminalId, subTerminalName = ViewBag.subTerminalName },null)
            </div>
        </td>
        <td width="128px">
            <div class="ActivePeriode">Tahun
            </div>
        </td >
        <td width="100%">
            <div class="NamaBandara">@ViewBag.CompanyName</div>
        </td>
    </tr>
    <tr>
    <td colspan="4" align="right" class="top" id="results">
                <table width="100%" height="100%" border="0" align="right" cellpadding="0" cellspacing="0">
            <tr height="30px" class="header-view" style="cursor:pointer"><td>Total Penjualan @ViewBag.Waktu @today.Date.ToString("yyyy")</td></tr>			   
			    
                <td height="39" >   		   
                <div align=center>
                    <table id="tableRekap" width="100%">
                         <tr>
                          <th width="300" height="21" style="text-align:center; font-size:large; border-color:#ccc;">IDR</th>
					      <th width="300" height="21" style="text-align:center; font-size:large; border-color:#ccc;">USD</th>
					    </tr>         
					    <tr>
					        <td height="100" style="text-align:right; font-size:large; font-weight:bold; border-color:#ccc;">Rp.@ViewBag.TotalSalePerYear &nbsp;</td>
                            <td height="100" style="text-align:right; font-size:large; font-weight:bold; border-color:#ccc;">$@ViewBag.TotalSalesPerTenanInUSD &nbsp;</td>
					    </tr>
                     </table>
                     <br />
                 </div>
                 </td>

                       <tr height="30px" class="header-view" style="cursor:pointer"><td>Detail Penjualan</td></tr>
                       <tr><td height="10"><span id='btn' style="float:right; height:5px"><button onclick="CetakLaporan()">Cetak Laporan</button></span></td></tr>
					    <tr id='detail'>
					        <td class="top" id="detail-header"><br />                                                                   
                                            Detail Penjualan di <span id='company-name'> @ViewBag.CompanyName</span> <span id='waktu'>, @today.Date.ToString("dd MMMM yyyy")</span>
                                       
                                   
						         <table id="detail-penjualan" class="yuis" width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF">  
                                 <thead>                                
							        <tr>
							            <th>Tenant</th>
							            <th style="text-align:right;"> Jumlah Penjualan (IDR)</th>
                                        <th style="text-align:right;"> Jumlah Penjualan (USD)</th>
							        </tr>
                                    </thead>  
                                    <tbody>
                                    @{
                                            int no=0;
                                        string warna;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        if(no % 2 == 0)
                                        {
                                            warna = "#f8f8f8";
                                        }
                                        else
                                        {
                                            warna = "#fff";
                                        }
							            <tr bgcolor='@warna'>
								        <td class="left">@item.TenanName  &nbsp;</td>
								        <td class="right">Rp.@item.YearlyTotalSalePerTenan.ToString("N")</td>
                                        <td class="right">$@item.TotalSalesPerTenanInUSD.ToString("N")</td>
							            </tr>
                                        no++;
                                    }                                    
                                    </tbody>
                                    <tfoot>
                                    <tr><th class="left">Total Penjualan</th><th class="right">Rp.@ViewBag.TotalSalePerYear</th><th class="right">$@ViewBag.TotalSalesPerTenanInUSD</th></tr>
                                    </tfoot>
						        </table>
					        </td>
          			    </tr>
            </table>            
    </td>
    </tr>
</table>
